.star-rating2 {
    display: flex;
    gap: 5px;
    font-size: 60px!important;
    cursor: pointer;
  }
  
  .star {
    color: #d3d3d3;
    font-size: inherit;
  }
  
  .star.filled {
    color: #ffd700;
  }
  
  .star:hover {
    color: #ffc107;
  }
  
  form {
    margin-left: 0;
    border: none;
    box-shadow: none!important;
  }

  .user-avatar {
    width: 40px;
    border-radius: 50%;
  }

  .text-area {
    height: 150px;
  }

  .review-card {
    width: 35%;
    background-color: #ffffff;
  }