form {
  margin-left: 0;
  border: none;
  box-shadow: none !important;
}

.user-avatar {
  width: 40px;
  border-radius: 50%;
}

.text-area {
  height: 150px;
}

.review-card {
  width: 35%;
  background-color: #ffffff;
}

.info-height {
  height: 80px;
}

.location-image {
  width: 130px;
  height: 100%!important;
}

.amount {
  color: black;
}