form {
  border: none;
  box-shadow: none !important;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.text-area {
  height: 150px;
}

.review-card {
  background-color: #ffffff;
}

.info-height {
  height: 80px;
}

.amount, .date {
  color: rgb(48, 48, 48);
}

.my-ratings {
  background-color: #e9eef6;
  
}

.dropdown-toggle::after {
  display: none;
}

.rate-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: 1px solid #1d6ff3;
  color: #1d6ff3;
}


.review-avatar {
  height: 40px!important;
  width: 40px!important;
}

.reviews {
  background-color: white;
}

.edit-review-text-area {
  height: 200px;
}

.review-img {
  width: 35%!important;
}

.edit-review {
  overflow: hidden;
}

.new-img {
  object-fit: cover;
  height: 250px;
}

.new-comment {
  height: 200px;
}

.new-stars span {
  font-size: 40px!important;
}

.user-info img {
  width: 100px;
  height: 100px;
}

.my-reviews-stats {
  background-color: #e9eef6;
}