.main-container {
  background-color: rgba(33, 134, 2, 0) !important;
  height: 100vh !important;
  overflow-y: hidden;
}

.content-container {
  overflow-y: scroll;
  width: 25%;
  background-color: rgba(0, 0, 255, 0);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
