.location-list {
  height: 100vh!important;
  background-color: white!important;
  margin-left: 5%;
}

.location-list::-webkit-scrollbar {
  display: none; 
}

.location-item {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.location-img {
  width: 100%;
}

.rounded-pill {
  outline: 1px solid #d6dadb!important;
}

.location-cards  {
  background-color: white;
}