.map-container {
    width: 100%;
    height: 100%;
    z-index: -1000;
    pointer-events: auto;
    position: static !important;
  }
  
  .main-container {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }
  

  .navbar, .sidebar, .content-container {
    pointer-events: auto;
  }
 
  .location-card, .location-list, button, input, a {
    pointer-events: auto; 
  }
  