.navbar-nav .nav-item .btn {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.logout-btn:hover {
  cursor: pointer;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.5); 
}

.navbar {
  border: none;
  background-color: rgba(255, 255, 255, 0)!important;;
  box-shadow: none !important; 
  margin-left: 3%; 
  z-index: 1000; 
  height: 60px; 
  width: 95%; 
}

.rounded-pill  {
  background-color: #ffffff!important;
}

.filter-bar {
  height: 50px!important;
  padding-left: 15px;
}

.main-menu {
  margin-top: 20px!important;
  margin-right: 20px;
  width: 420px;
  height: 520px;
  background-color: #e9eef6;
}

.avatar-2-img {
  width: 20%;
  height: 20%;
}

.other-accounts {
  background-color: white;
  height: 210px;
  overflow-y: scroll;
}

.other-account {
  border: 1px solid #e9eef6;
}

.other-accounts::-webkit-scrollbar {
  display: none!important;
}

.logout:hover {
  cursor: default;
  background-color: transparent;
}

.nav-search {
  width: 95%;
}