.navbar-nav .nav-item .btn {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.logout-btn {
  background-color: #ffffff;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.5); 
}

.navbar {
  border: none;
  background-color: rgba(255, 255, 255, 0)!important;;
  box-shadow: none !important; 
  margin-left: 5%; 
  z-index: 1000; 
  height: 60px; 
  width: 95%; 
}

.rounded-pill  {
  background-color: #ffffff!important;
}

.filter-bar {
  height: 50px!important;
  padding-left: 15px;
}